ipykernel==6.26.0
jupyter_client==8.6.0
pytest==7.4.2
python-dotenv==1.0.0
setuptools==68.2.2
grpcio-tools==1.59.2
pytest-asyncio==0.21.1
grpc-google-iam-v1==0.12.7
matplotlib
pydantic==2.5.1
aiosqlite==0.19.0
rich==13.6.0
prompt_toolkit==3.0.40
aiofiles==23.2.1
click==8.1.7
discord.py==2.3.2
openai==0.28.1
build==1.0.3
python-dotenv==1.0.0
tiktoken
fastapi
uvicorn
pytest-mock
pydantic-settings
sse-starlette
starlette-context
llama-cpp-python

