{#the role description#}
{{prompt.role}}
{#the rule list#}
{%if prompt.rules%}
Follow the rules
{% for rule in prompt.rules if rule%}
{{loop.index}}.{{rule}}
{% endfor%}
{% endif %}
{%if prompt.actions%}
Use the following actions to help you finishing your task
{% for action in prompt.actions if action%}
{{loop.index}}.{{action.name}}: {{action.desc}}
{% endfor%}
{% endif %}
{%if guides%}
The instructions for the tools and libraries you recently used.
{% for guide in guides if guide%}
{{loop.index}}.{{guide.name}}
{{guide.what_it_can_do}}
{{guide.how_to_use}}
{% endfor%}
{% endif %}
