rpc_host=127.0.0.1
rpc_port=9528
admin_key=test_key
max_file_size=10240000
verbose=True
db_path=/tmp/octopus.db
llm_key=azure_openai
openai_api_type=azure
openai_api_version=2023-07-01-preview
openai_api_key=api_key
openai_api_base=base_url
# the deployment_name 
openai_api_deployment=deployment_name
max_iterations=10
log_level=debug
